<h2><%=l(:label_roadmap)%></h2>

<% if @versions.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<div id="roadmap">
<%= render(:partial => "versions/total", :locals => {:project => @project, :totals => @totals, :versions => @versions}) %>
<% @versions.each do |version| %>
    <h3 class="version"><%= tag 'a', :name => version.name %><%= link_to_version version %></h3>
    <%= render :partial => 'versions/info', :locals => {:version => version, :issues => @issues_by_version[version], :totals => @totals} %>
    <%= call_hook :view_projects_roadmap_version_bottom, :version => version %>
<% end %>
</div>
<% end %>

<% content_for :sidebar do %>
<%= form_tag({}, :method => :get) do %>
<h3><%= l(:label_roadmap) %></h3>
<% @trackers.each do |tracker| %>
  <label><%= check_box_tag "tracker_ids[]", tracker.id, (@selected_tracker_ids.include? tracker.id.to_s), :id => nil %>
  <%=h tracker.name %></label><br />
<% end %>
<br />
<label for="completed"><%= check_box_tag "completed", 1, params[:completed] %> <%= l(:label_show_completed_versions) %></label><br />
<label for="only_open"><%= check_box_tag "only_open", 1, params[:only_open] %> <%= l(:label_hide_closed_issues) %></label>
<% if @project.descendants.active.any? %>
	<%= hidden_field_tag 'with_subprojects', 0 %>
  <br /><label><%= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%=l(:label_subproject_plural)%></label>
<% end %>
<p><%= submit_tag l(:button_apply), :class => 'button-small', :name => nil %></p>
<% end %>

<h3><%= l(:label_milestone_plural) %></h3>
<% @project.milestones.sort.each do |milestone| %>
<%= link_to(milestone.name, :controller => :milestones, :action => :show, :id => milestone.id) %><br />
<% end %>
<h3><%= l(:label_version_plural) %></h3>
<% @versions.each do |version| %>
<%= link_to format_version_name(version), "##{version.name}" %><br />
<% end %>
<% end %>

<% html_title(l(:label_roadmap)) %>

<%= context_menu %>
